@page
@model Holonet.Jedi.Academy.App.Pages.References.ForcePowers.IndexModel
@{
	ViewData["Title"] = "Force Powers";
}

<h1>Force Powers</h1>
<hr />
<p>
	@if (Model.CanCreateEdit)
	{
		<a class="btn btn-primary btn-sm" asp-page="Index" title="Click to create a new item.">Create New</a>
	}
</p>
<div class="row">
	<div class="col-5">
		<div class="card">
			<div class="card-header">
				<h5>Listing</h5>
			</div>
			<div class="list-group list-group-flush">
				@foreach (var item in Model.ForcePowers)
				{
					<a href="/References/ForcePowers/Index?id=@item.Id" class="list-group-item list-group-item-action @(item.Id.Equals(Model.ID) ? "active":"")" title="Click to view the details." aria-current="true">
						<div class="d-flex w-100 justify-content-between">
							<span class="fs-6">@Html.DisplayFor(modelItem => item.Name)</span>
							@if (item.Archived)
							{
								<span class="badge bg-danger">Archived</span>
							}
							else
							{
								<span class="badge bg-success">Active</span>
							}
						</div>
					</a>
				}
			</div>
		</div>
	</div>
	<div class="col-5 offset-2">
		<form method="post">
			<div class="card">
				<div class="card-header">
					<h5>Details</h5>
				</div>
				<div class="card-body">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					@if (Model.ForcePower != null && Model.ForcePower.Id > 0)
					{
						<input type="hidden" asp-for="ForcePower.Id" />
					}
					<div class="mb-3">
						<label asp-for="ForcePower.Name" class="control-label"></label>
						@if (Model.CanCreateEdit)
						{
							<input asp-for="ForcePower.Name" class="form-control" />
						}
						else
						{
							<input asp-for="ForcePower.Name" class="form-control-plaintext" readonly />
						}
						<span asp-validation-for="ForcePower.Name" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="ForcePower.Description" class="control-label"></label>
						@if (Model.CanCreateEdit)
						{
							<textarea asp-for="ForcePower.Description" class="form-control"></textarea>
						}
						else
						{
							<textarea asp-for="ForcePower.Description" class="form-control-plaintext" readonly></textarea>
						}
						<span asp-validation-for="ForcePower.Description" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="ForcePower.MinimumRankId" class="control-label"></label>
						@if (Model.CanCreateEdit)
						{
							<select asp-for="ForcePower.MinimumRankId" class="form-select" asp-items="ViewBag.Ranks">
								<option value="">Select a rank</option>
							</select>
						}
						else
						{
							<select asp-for="ForcePower.MinimumRankId" class="form-select" asp-items="ViewBag.Ranks" disabled>
								<option value="">Select a rank</option>
							</select>
						}
						<span asp-validation-for="ForcePower.MinimumRankId" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<p class="fst-italic">Archived items are retained, but they are no longer actionable or listed.</p>
						<div class="form-check">
							@if (Model.CanCreateEdit)
							{
								<input asp-for="ForcePower.Archived" type="checkbox" class="form-check-input" />
							}
							else
							{
								<input asp-for="ForcePower.Archived" type="checkbox" class="form-check-input" readonly />
							}

							<label asp-for="ForcePower.Archived" class="form-check-label"></label>
						</div>
						<span asp-validation-for="ForcePower.Archived" class="text-danger"></span>
					</div>
				</div>
				<div class="card-footer">
					@if (Model.CanCreateEdit)
					{
						<input type="submit" value="Save" class="btn btn-success" />
					}
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script type="text/javascript" src="~/js/References/ForcePowers/index.js" asp-append-version="true"></script>
}