@page

@{
	ViewData["Title"] = "Reference Listing";
}
<h1 class="display-4 fw-normal">References</h1>
<div class="p-3 pb-md-4 mx-auto">	
	<p class="fs-5 text-muted">Reference data is a special subset of master data that is used for classification throughout the academy. It can be used in data management to define the characteristics of an identifier. Reference data sets are sometimes alternatively referred to as a "controlled vocabulary" or "lookup" data.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
	<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Alien Races</h4>
			</div>
			<div class="card-body">
				<p>A group of living organisms consisting of similar individuals capable of exchanging genes or interbreeding. </p>
				<a href="/References/AlienRaces/Index" class="w-100 btn btn-lg btn-outline-primary">View</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Force Powers</h4>
			</div>
			<div class="card-body">
				<p>The manifestations of a Force-sensitive being's connection with the Force, an energy field that surrounded and bound together everything in existence.</p>
				<a href="/References/ForcePowers/Index" class="w-100 btn btn-lg btn-outline-primary">View</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Planets</h4>
			</div>
			<div class="card-body">
				<p>A celestial body moving in an elliptical orbit around a star.</p>
				<a href="/References/Planets/Index" class="w-100 btn btn-lg btn-outline-primary">View</a>
			</div>
		</div>
	</div>
<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Quest Objectives</h4>
			</div>
			<div class="card-body">
				<p>A quest objective or quest goal is whatever fulfills a requirement to complete a quest. </p>
				<a href="/References/QuestObjectives/Index" class="w-100 btn btn-lg btn-outline-primary">View</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Ranks</h4>
			</div>
			<div class="card-body">
				<p>The position of someone in any ordering or sequence, within a social or official organization.</p>
				<a href="/References/Ranks/Index" class="w-100 btn btn-lg btn-outline-primary">View</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Termination Reasons</h4>
			</div>
			<div class="card-body">
				<p>A behavior that impedes to the proper functioning within your social organization.</p>
				<a href="/References/TerminationReasons/Index" class="w-100 btn btn-lg btn-outline-primary">View</a>
			</div>
		</div>
	</div>
</div>