@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Forgot password confirmation";
	ViewData["PageName"] = "Forgot password confirmation";
	ViewData["PageDescription"] = "Password reset request has been confirmed.";
	Layout = "/Pages/Shared/_IdentityMinimalLayout.cshtml";
}

<p>
	Please check your email to reset your password.
</p>
<a href="/Identity/Account/Login?ReturnUrl=%2Findex" class="btn btn-primary">Login</a>
