@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Reset password confirmation";
	ViewData["PageName"] = "Reset password confirmation";
	ViewData["PageDescription"] = "Password reset has been completed.";
	Layout = "/Pages/Shared/_IdentityMinimalLayout.cshtml";
}
<p>
	Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
