@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject ICompositeViewEngine Engine
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_IdentityLayout.cshtml";
    }
}

<div class="page-header">
    <p class="lead">Role Manager - @ViewData["PageName"]</p>
    <p>@ViewData["PageDescription"]</p>
</div>
@RenderBody()


@section Scripts {
    @RenderSection("Scripts", required: false)
}
