@page

@{
	ViewData["Title"] = "About";
}
<h1 class="mb-3">About The Jedi Academy & The Jedi</h1>
<figure class="text-center">
	<blockquote class="blockquote">
		<p>Jedi academies were established to train Force-sensitive beings accepted into the Jedi Order in the ways of the Force. Overseen by the Council of First Knowledge, each academy was governed by an advisory Council appointed by their superiors on Coruscant. </p>
	</blockquote>
	<figcaption class="blockquote-footer">
		Someone famous in <cite title="Star Wars Fandom">Star Wars Fandom</cite>
	</figcaption>
</figure>
<p>Mainstreaming the majority of teachings at the Temple, certain practices were permitted to vary from world to world. However, at all sanctioned academies, a group of Jedi Masters would instruct Initiates to the Order in the ways of the Force. The size of the school varied from world to world: some as small as a single clan of younglings, others as large as the main academy housed within the Jedi Temple of Coruscant. Many academies had been established during the Old Sith Wars and were located in the Galactic Rim. Some were located on or near Force wellsprings or places significant to the Order like crystal caves or nexuses of dark-side energies that needed constant monitoring.</p>
<h2 class="text-center my-5">The Three Pillars of the Jedi</h2>
<div class="row text-center mb-5">
	<div class="col">
		<img src="~/images/jedi-three-pillars.png" class="img-fluid" alt="Image of the three pillars of the Jedi" />
	</div>
</div>
<div class="row text-center">
	<div class="col">
		<h3>The Force</h3>
		This includes not just to be able to lift objects with your mind (though remember with that, size matters not), but to able to sense its presence and feel its flow, to be able to center yourself and become one with the Force, and to understand, and never tangle with the Dark Side
	</div>
	<div class="col">
		<h3>Knowledge</h3>
		Without knowledge, there is ignorance, and through ignorance breeds fear. The Jedi students will study many subjects, including math, science, history, alien languages, and politics, and are always encouraged to take advantage of the near limitless resources of the Jedi Archives
	</div>
	<div class="col">
		<h3>Discipline</h3>
		The Jedi students must understand what it means to be in control, to be centered, and focused. These aspects, are often learned through lightsaber training, and meditation. Jedi are expected to meditate at least 5 times a day, and are encouraged to take more time to center themselves.
	</div>
</div>
<hr />
<h2 class="text-center my-5">The Importance of the Jedi Pillars</h2>
<p>The three pillars of the Jedi stand as the foundation of the order, as do the initiates who study them. Once they reach the age of 12, or equivalent age, they must take the Initiate Trials, where they must show complete understanding of the three pillars of the Jedi. This test includes a theoretical portion to determine their competence in academics, a lightsaber combat portion, and a portion on their connection of the Force. Many students do fail these trials, despite how early they happen in a Jedi's lifetime.</p>

<p>If however they do pass, then they will become Padawan learners.</p>

<p>But they are not guaranteed to become apprentices. Jedi Padawans must, in some way, gain the attention of a Jedi Knight or Master who is looking for an apprentice. There are some ways available within the temple where one can apply for and find apprenticeship. Including the annual lightsaber tournament, applying with the reassignment council, or talking to past instructors about finding an apprenticeship. But sometimes all you got to do is stick your neck out there and talk to other knights and masters within the order. This can prove a challenge enough, and can see some padawans never become apprentices.</p>

<p>If however you do become an apprentice, then you have a greater challenge ahead of you, your duty as a Jedi.</p>

<p>Padawans are expected to aid, and keep up with their masters who will outrank them in everyway. They are expected to learn all they can from their masters and their experience in the field. They are expected not only to do all of these things, but also do their duty as a Jedi in the field, this means being the Guardian the people expect them to be. It is here where not only padawans will fail, but will sometimes meet their end.</p>

<p>But if they do succeed, then they will find one of the most enriching experience of their lives, and their most closest friend in their master, who will share those feelings as he will have learned a thing or two from the apprentice.</p>
<hr />
<h2 class="text-center my-5">But then comes the last trials: The Jedi Knight Trials.</h2>
<div class="row text-center mb-5">
	<div class="col">
		<img src="~/images/jedi-trials.png" class="img-fluid" alt="Image depicting five tenents of the Jedi trials" />
	</div>
</div>
<p>There five trials in total to test different aspects of what it takes to be a Jedi Knight. Those trials include: the trial of courage, the trial of flesh, the trial of spirit, the trial of wisdom, and the trial of skill. Each trial was different for each student, each one being tailored for particular challenges that they would have to face. Oftentimes, the trials would specifically test their specific weaknesses in each area, and sometimes the trials would happen without the student even realizing it, sometimes disguised as a mission, or normal lesson.</p>
<ol>
	<li>The Trial of Skill. The trial of skill was the me most grueling physical challenge padawans would ever had to face as students. The trial tested not only their skill with a lightsaber, but also their physical endurance, their creativity, and their ability to use the Force in combat. The trial was sometimes conducted by the student fighting a Jedi Master, multiple warriors one after another, two on one fights, or fighting holographic projections of Sith Lords.</li>
	<li>The Trial of Flesh. This trial tested the students ability to overcome great pain. In the early days of the Jedi Order, some students were even shot by blasters on the lowest setting with a sustained beam for literally hours (In the time of Kenobi and Yoda, such practice was considered barbaric). In the modern times, the test determines a Jedi’s ability to handle deep emotional pain and loss. Oftentimes, a pupil would never see their master again, and must part ways permanently, this separation was often part of the Trial of Flesh.</li>
	<li>The Trial of Courage. The Jedi must be able to stand in the face of fear, and overcome that fear to do what is necessary. This test often puts students in combat against a horrible foe that they would have no hope of defeating. Though many students end up rushing and defeating the foe, they end up failing anyway, because recklessness is not the same thing as courage.</li>
	<li>The Trial of Wisdom. This was the most recent trial instituted in the Jedi Order. The reason for this was because the original four trials were producing competent Jedi, but however those Jedi often fell to the cunning tricks of hutt crime lord. This Trial would include all sorts of puzzles and riddles, and most times, a student discovering they were even facing this trial was part of their test.</li>
	<li>The Trial of Spirit. Also known as “Facing the Mirror”, this is considered to be the hardest trial of all. To pass this trial, one must look deep inside themselves, and confront that which they have hidden all their lives: their greatest fears, shame, regrets, and inner darkness. Once this darkness is found, it must be confronted, defeated, and accepted; not many have the fortitude to face such a challenge.Many who have failed this test have literally gone mad, but however, this test is as difficult as it is critical to becoming a Jedi.</li>
</ol>

<p>Failure in any one trial is considered a failure in all, but if you manage to make it all the way here, than congratulations, you will become a Jedi Knight of the Republic. Now you will be free to fulfill your duty to everyone in the Galaxy, however you see fit. With this title comes many responsibilities and privileges, all of which, have been greatly earned.</p>