@page

@{
	ViewData["Title"] = "FAQs";
}

@section header {

	<link type="text/css" rel="stylesheet" href="~/css/faq.css">
}
@section scripts {
	<script type="text/javascript" src="~/js/faq.js" asp-append-version="true"></script>
}
<h1 class="mb-3">Frequently Asked Questions (FAQs)</h1>
<figure class="text-center">
	<blockquote class="blockquote">
		<p id="quote"></p>
	</blockquote>
	<figcaption class="blockquote-footer" id="quoteAuthor">
	</figcaption>
</figure>
<div class="row">
	<div class="col">
		<dl>
			<dt>
				Is it hard to become a jedi?
			</dt>
			<dd>
				Training to become a Jedi is not an easy challenge, and even if you succeed, it’s a hard life
			</dd>
			<dt>
				Why is it so difficult to become a Jedi Knight?
			</dt>
			<dd>
				It requires the deepest commitment, and the most serious mind, many younglings are recruited every year to the Jedi Temple for training, but most will not become a Jedi Knight.
			</dd>
			<dt>
				How old do you need to be to enter the Jedi Academy?
			</dt>
			<dd>
				It's impossible to say for sure. The earliest know humanoid began at age 2. Jedi are hand picked at birth, normally, and they begin training as soon as they are able to follow direction and communicate.
			</dd>
			<dt>
				Who was the first Jedi master?
			</dt>
			<dd>
				There is no first Jedi but there were a few people who were the first humanoid creatures to follow the Force.
			</dd>
			<dt>
				What are the three pillars of the Jedi
			</dt>
			<dd>
				<ul>
					<li>The Force. This includes not just to be able to lift objects with your mind (though remember with that, size matters not), but to able to sense its presence and feel its flow, to be able to center yourself and become one with the Force, and to understand, and never tangle with the Dark Side;</li>
					<li>Knowledge, without knowledge, there is ignorance, and through ignorance breeds fear. The Jedi students will study many subjects, including math, science, history, alien languages, and politics, and are always encouraged to take advantage of the near limitless resources of the Jedi Archives;</li>
					<li>Discipline. The Jedi students must understand what it means to be in control, to be centered, and focused. These aspects, are often learned through lightsaber training, and meditation. Jedi are expected to meditate at least 5 times a day, and are encouraged to take more time to center themselves.</li>
				</ul>
			</dd>
			<dt>

			</dt>
			<dd>

			</dd>
		</dl>
	</div>
	<div class="col">
		<dl>
			<dt>
				Is it expensive to attend the Jedi Academy?
			</dt>
			<dd>
				There is no cost of admimssion into the Jedi Academy. Since the students are chosen by existing Jedi at birth, it is considered a high honor of the galaxy to be chosen; thus there is no fee to attend.
			</dd>
			<dt>
				What is the highest level of Jedi?
			</dt>
			<dd>
				A Jedi Master is the highest formal rank in the Jedi Order. It is given to the most skilled Jedi after great accomplishments as a Jedi Knight, such as training several apprentices to knighthood or performing a great service for the Republic.
			</dd>
			<dt>
				Why is the Force divided into a light and dark side?
			</dt>
			<dd>
				The dark side of the force is the evil side of the force. The light side of the force is the good side side of the force. They are both necessary, because the force is one, and the opposites make up what the force is.
			</dd>
			<dt>
				Can Jedi learn and use dark side abilities?
			</dt>
			<dd>
				Healthy growth and relationships can’t come from anger and pride and impatience and a total lack of real self-mastery. Wisdom cannot come from selfish ambition. A lasting society cannot come from violence at will and fear and oppression. Good can’t come of evil.
			</dd>
			<dt>
				What does a Jedi do if he feels a connection to the dark side?
			</dt>
			<dd>
				A multitude of things, depending on the Jedi. In the end, what Jedi do when they feel the pull of the dark side greatly depends on the Jedi who feels it.
			</dd>
			<dt>
				What should I do, as a member of the academy, if I feel a pull towards the dark side?
			</dt>
			<dd>
				If you don't deal with your inner Dark Side, if you leave it unchecked and ignore it, eventually it shall consume you and take over your destiny. You need to confront your inner darkness, accept it, acknowledge its presence and conquer it.
			</dd>
		</dl>
	</div>
</div>