<div id="idleDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your session is about to expire!</h5>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fas fa-exclamation-triangle mt-0 mr-3 mb-50 ml-0"></i>
                    You will be logged off in <span id="idleDialog-countdown" class="mr-1 font-weight-bold"></span> seconds.
                </p>
                <p>Do you want to continue your session?</p>
            </div>
            <div class="modal-footer">
                <button id="continueButton_idleDialog" class="btn btn-primary" type="button">Yes</button>
                <button id="quitButton_idleDialog" class="btn btn-danger" type="button">No</button>
            </div>
        </div>
    </div>
</div>